// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@font-face {
  font-family: 'Gotham';
  src: url("../../fonts/Gotham-Light.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url("../../fonts/Gotham-LightItalic.otf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url("../../fonts/Gotham-MediumItalic.otf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: 'Gotham';
  src: url("../../fonts/Gotham-Medium.otf");
  font-style: normal;
  font-weight: bold;
}
// Override theme settings (see ../template/settings.scss)
$mainFont: 'Gotham', 'Open Sans', sans-serif;
$mainColor: #333;
$headingFont: 'Gotham', 'Open Sans', sans-serif;
$headingFontWeight: bold;
$headingColor: #333;
$headingWeight: bold;
$mainFontSize: 50px;

//$headingLetterSpacing: -0.08em;
$headingTextShadow: none;
$backgroundColor: #f7fbfc;
$linkColor: #3b759e;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: #134674;

// Fix links so they are not cut off
.reveal a:not(.image) {
	line-height: 1.3em;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


.reveal h1 { font-size: 3.77em; }
.reveal h2 { font-size: 1.3em;	}
.reveal h3 { font-size: 1em;	}
.reveal h4 { font-size: .8em;	}


.reveal h1 {
  font-weight: normal;
}

.reveal ul {
  margin-top: 10px;
}
.reveal li {
  margin-bottom: 20px;
}
